<div class="row">
	{{!-- image column --}}
	<div class="col-4 text-center">
		<img src="https://media.giphy.com/media/3o7btUFzd7vU3bYZFK/giphy.gif" id="imageData" width="400px" height="350px" />
	</div>
	<!-- wrapper -->
	<div class="wrapper  col-7">

		{{!-- add burger section --}}
		<div class="row justify-content-center">
			<div class="col-6 text-center">
				<h1>ADD BURGER</h1>
				<form action="/burgers/create" method="POST">
					<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
					<button type="submit" class="btn btn-primary" id="text-enter-button">ADD BURGER</button>
				</form>

			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- column 1 - TASTY BURGERS -->
				<div class="col-6 text-center">
					<h1 class="text-center">EAT-DA-BURGER!</h1>
					{{!-- ordered list --}}
					<ol>
						{{#each burgers}} 
						{{#unless this.devoured}}
						<li>
							<h3>{{this.burger_name}}</h3>

							<form class="eat-form">
								<input type="hidden" type="text" class="burger-id" value={{this.id}}>

								<input class="customer-name mt-2" type="text" placeholder="Enter your name">
								<br>

								<button type="submit" class="btn-primary mt-2 btn">Click here to devour!</button>
							</form>
						</li>
						{{/unless}} {{/each}}
					</ol>
				</div>
				<!-- end column 1 -->

				<!-- column 2 - DEVOURED BURGERS -->
				<div class="col-6 text-center">

					<h1>DEVOURED BURGERS!</h1>
					{{!-- ordered list --}}
			<ol>
				{{#each burgers}}
				{{#if this.devoured}}	
				{{#if this.Customer.customer}}
				<li> <h3>{{this.burger_name}}</h3> <span>(Devoured by {{this.Customer.customer}})</span></li>
				{{/if}}
				{{/if}}
				{{/each}}	
						
			</ol>
					<!-- end column 2 -->
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
</div>